.vs             
[Bb]in/         
[Oo]bj/          
*.user           
*.suo            
*.cache          
*.ilk            
*.pdb            
*.log            

*.swp            
*~               
Thumbs.db        
.DS_Store        

func-artifacts/

.idea/
*.sln.iml